<div class="footer">

  <p style="font-size:11px;">
    <span>Copyright &copy; {{ site.time | date: '%Y' }} Coinomi - All rights reserved</span>
    <span class="footer-span">|</span>
    <span><a href="https://play.google.com/store/apps/details?id=com.coinomi.wallet" target="_blank"><i class="fa fa-android"></i></a></span>
    <span class="footer-span">|</span>
    <span>  <a href="https://github.com/coinomi/" target="_blank"><i class="fa fa-github"></i></a></span>
    <span class="footer-span">|</span>
    <span> <a href="https://twitter.com/coinomiwallet" target="_blank"><i class=" fa fa-twitter"></i></a></span>
    <span class="footer-span">|</span>
     <span> <a href="https://t.me/joinchat/FFYUbg3DTIZ0JotKIlZbbQ" target="_blank"><i class=" fa fa-telegram"></i></a></span>
    <span class="footer-span">|</span>   
    <span><a href="https://www.facebook.com/coinomi/" target="_blank"><i class="fa fa-facebook"></i></a></span>
    <span class="footer-span">|</span>
    <span> <a href="https://www.linkedin.com/company/9324746" target="_blank"><i class="fa fa-linkedin"></i></a></span>
    <span class="footer-span">|</span>
    <span> <a href="https://angel.co/coinomi" target="_blank"><i class="fa fa-angellist"></i></a></span>
    <span class="footer-span">|</span>
    <span> <a href="../terms/">Terms of Use</a></span>
    <span class="footer-span">|</span>
    <span> <a href="../privacy/">Privacy Policy</a></span>
    <span class="footer-span">|</span>
    <span>Coinomi Ltd, CRN10451885, 71-75 Shelton Street, WC2H 9JQ London, UK</span>
  </p>
  
</div>
